.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebar {
  /* display: flex; */
  background-color: #33cc59; 
  margin-top: 10px;
  height: 100vh;
}

ul {
  list-style-type: none;
}

/* Sidebar */
.sidebar-list-styling{
  padding-left: 50px;
  padding-top: 15px;
  width: 20%;
  background-color: #16aa54;
  color: black;
}

.sidebar-list a{
  color: rgb(4, 4, 88);
  padding: 0;
}

.sidebar-route{ 
  flex: 1;
  padding: '00px'; 
}